/* CSS File for the Weather and Quality Control for
Seismic Data Acquisition Website */

/* SECTION/GROUP OF PRINCIPAL CSS STYLES ARE COMMENTED WITH CAPITAL LETTERS plus 1 break line */
/* Subsections/Subgroups of CSS styles are commented in lower-case plus 1 break line */
/* Specific element styles are commented on top of the element, without break line */


/* FONTS */
/* Heebo (Medium 500) and Oxygen (Regular 400) */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Oxygen&display=swap');



/* GENERAL STYLES */

/*
body {
    position: fixed;
    height: 100%;
    width: 100%;
}*/

p {
    font-family: 'Oxygen', sans-serif;
}

h2, h3 {
    font-family: 'Heebo', sans-serif;
}

/* BODY */
#body-content {
    /*margin-top: 75px;*/
    padding-top: 0px;
}


/* HEADER */

#header {
    background-color: rgb(49, 49, 48);
}

#company-logo {
    padding-top: 10px;
    padding-left: 10px;
    float: left;
    z-index: 20;
    /*background-color: aqua;*/
}

#company-logo > a {
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    color: white;
}

#header-menu {
    /*background-color: rgb(0, 255, 55);*/
    margin: 0;
    font-family: 'Heebo', sans-serif;
    font-size: 100%;
    z-index: 10;
}

#header-menu > nav > button > span {

}

.navbar-toggler {
    background-color: white;
}

#log-in-button > button {
    background-color: white;
    border-color: white;
    color:rgb(49, 49, 48);    
}


#header-mdenu > nav {
    margin:auto;
}

#header-menu > nav {
    margin: auto;
}

#navbarNav > ul > li > a {
    color: white;
    text-align: right;
}

#header-menu > nav > button {
    margin: auto;
}

/*#header-menu {
    padding: 0;
    margin: auto;
}*/

#log-in-button > button {
    margin-top: 10px;
    /*margin-left: 30px;*/
    float: right;
    font-family: 'Heebo', sans-serif;
}

/* Solution for modal windown appearing below elements, in the background:
Copied on June 19th, 2021, at 3:17, from Stack Overflow:
https://stackoverflow.com/questions/10636667/bootstrap-modal-appearing-under-background
*/
.modal-backdrop {
    z-index: -1;
}

#exampleModalCenter > div > div > div.modal-body > form > div > label,
#exampleModalLongTitle {
    font-family: 'Heebo', sans-serif;    
}

#recipient-name-submit {
    background-color: rgb(49, 49, 48);
    font-family: 'Heebo', sans-serif;
    color: white;
}

/* FOOTER */



#footer {
    position: relative;
    top: 100px;
    background-color: rgb(49, 49, 48);
    
}

#company-data {
    padding: 25px;
    /*background-color: rgb(55, 0, 255);*/    
    color: white;
}

#company-data > p {
    font-family: 'Heebo', sans-serif;
}


#company-links {
    /*background-color: rgb(0, 255, 55);*/
    height: 50%;
    margin: 0;    
}

a.nav-link {
    padding-top: 10px;
    margin: auto;
}

#footer-contact-link {
    /*background-color: rgb(255, 0, 212);*/
    height: 50%;
    margin: auto;
    text-align: center;
    font-family: 'Heebo', sans-serif;
}

#footer-contact-link > a {
    padding-top: 25px;
    color: white;
}

#company-links > nav {
    margin: auto;
    font-size: 250%;
}

#company-links > nav > a {
    padding-top: 25px;
    color: white;
}

#company-data > p {
    margin: 0;
    inline-size: 1;
}

.navbar-toggler.toggler-example {
    cursor: pointer;
}



/* ***************** */
/* INSTRUCTIONS PAGE */
/* ***************** */


#instructions-title {
    margin-top: 100px;
}

#body-content {
    height: 710px;
}


/* ************ */
/* WEATHER PAGE */
/* ************ */

#top-container {
    margin-top: 100px;
    margin-bottom: 12px;
    
    
}

#weather-map-and-data {
    
}

#viewDiv {
    /* height: 350px; */
    background-color: aqua;
    /*background-color: blueviolet;   */
    /*position: relative;*/
    /*height: 100%;
    width: 100%;*/
    padding: 0 20px;
      
    
}

#weather-data {
    
    background-color: rgb(160, 160, 240);
    /*height: 100%;
    width: 100%; */   
}

#weather-data-title {
    background-color: rgb(72, 226, 226);
}
#latitute-title {
    background-color: rgb(159, 238, 238);
}
#latitute {
    background-color: rgb(56, 151, 53);
}
#longitude-title {
    background-color: rgb(236, 199, 168);
}
#longitude {
    background-color: rgb(122, 63, 15);
}
#enter-manually-title {
    background-color: rgb(194, 161, 238);
}


#manual-latitute-label {
    background-color: rgb(177, 238, 238);
}

#label-for-latitude {
    font-family: 'Oxygen', sans-serif;
}

#manual-latitute {
    background-color: rgb(27, 182, 53);
}

#manual-longitude-label {
    background-color: rgb(165, 175, 127);
}

#label-for-longitude {
    font-family: 'Oxygen', sans-serif;
}

#manual-longitude {
    background-color: rgb(231, 243, 188);
}

#get-weather-data {
    background-color: rgb(188, 219, 219);
}

#get-weather-data-button {
    font-family: 'Oxygen', sans-serif;
}

#results-title {
    background-color: rgb(182, 229, 229);
}
#results {
    background-color: rgb(223, 231, 175);
}

.weather-data-label {
    color: aliceblue;
}

#wind-extra-info {
    background-color: rgb(158, 173, 216);
    margin-bottom: 225px;
    /*height: 200px;*/
}

#temperature-extra-info {
    background-color: rgb(156, 224, 241);
    margin-bottom: 225px;
    /*height: 250px;*/
}

#other-weather-extra-info {
    background-color: rgb(209, 236, 193);
    margin-bottom: 225px;
    /*height: 250px;*/
}


#curve_chart_left, #curve_chart_middle, #curve_chart_right {
    width: 100%;
    height: 250px;
}




/* ********* */
/* BLOG PAGE */
/* ********* */
#post-box {
    margin-top: 100px;
}


/* **************** */
/* POST DETAIL PAGE */
/* **************** */

#post-detail-body {
    margin-top: 100px;    
}

.masthead {
    font-weight: bold;
    text-align: center;
}

.masthead-text {
    font-family: 'Heebo', sans-serif;
}

.text-secondary {
    font-family: 'Oxygen', sans-serif;
}

#post-details-summary {
    text-align: center;
}



/* ************ */
/* CONTACT PAGE */
/* ************ */

#contact-form {
    margin-top: 100px;
    height: 710px;
}

#form-left-1 {
    height: 75px;
}
#form-left-2, #form-left-3, #form-right-2 {
    height: 75px;
}

#form-right-1 {
    height: 300px;
}

.form-labels {
    font-family: 'Heebo', sans-serif;
}

#id_name, #id_surname, #id_email {
    width: 70%;
    float: right;
}

#id_text_content {
    width: 70%;
    float: right;
    height: 250px;
}

#contact-form-button {
    width: 200px;
    height: 40px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Heebo', sans-serif;
}







/* ************* */
/* MEDIA QUERIES */
/* ************* */

/* FOOTHER ON BIG SCREEN SIZE, HEIGHT ABOVE 1080px */

@media screen and (min-height: 1081px) {
    footer {
        position: fixed;
        bottom: 70px;
        height: 200px;
        width: 100%;        
    }


}


/* SCREEN SIZE BELOW 1200px */

@media screen and (max-width: 1200px) {



}



/* SCREEN SIZE BELOW 992px */

@media screen and (max-width: 992px) {

    

}

/* SCREEN SIZE BELOW 992px */

@media screen and (max-width: 768px) {


}


/* SCREEN SIZE BELOW 575px */

@media screen and (max-width: 576px) {

    #company-logo {
        float: right;
    }

    a.navbar-brand {
        padding-left: 10%;
    }
    

    #log-in-button > button {
        margin-right: 0px;
        margin-top: 8px;
        /* To align vertically "Log In" inside the button*/
        padding-top: 6px;
        padding-bottom: 8px;
    }

    #header-menu > nav {        
        float: right;     
    }

    #header-menu > nav > button.navbar-toggler {        
        margin-right: 0;
        float: right;        
    }

    #log-in-button > button {
        /* 110% to keep text in button centered down to 280px width*/
        width: 100%;
    }

    #header-menu > nav {        
        padding-right: 0;
    }

    #log-in-button > button {
        padding:7px 4px 7px;
    }

    #company-links > nav > a {
        padding-top: 0;
        padding-bottom: 10px;
    }

    #footer-contact-link > a {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    #company-data > p {
        text-align: center;
    }

    /* FORMS */

    #form-left-1 {
        margin-top: 50px;
        height: 75px;
    }

    #form-left-2, #form-left-3, #form-right-2 {
        height: 75px;
    }

    #form-right-1 {
        height: 300px;
    }


    .form-labels {
        width: 100%;
        text-align: center;
    }
    
    #id_name, #id_surname, #id_email {
        height: 30px;
        width: 100%;
    }
    
    #id_text_content {
        width: 100%;
        height: 250px;
    }

    /* POST DETAILS */

    #post-detail-body {
        padding-top: 75px;    
    }


}