/* CSS File for the Weather and Quality Control for
Seismic Data Acquisition Website */

/* SECTION/GROUP OF PRINCIPAL CSS STYLES ARE COMMENTED WITH CAPITAL LETTERS plus 1 break line */
/* Subsections/Subgroups of CSS styles are commented in lower-case plus 1 break line */
/* Specific element styles are commented on top of the element, without break line */


/* FONTS */
/* Heebo (Medium 500) and Oxygen (Regular 400) */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Oxygen&display=swap');


/* GENERAL STYLES */

p {
    font-family: 'Oxygen', sans-serif;
}

h1, h2, h3 {
    font-family: 'Heebo', sans-serif;
    color: rgb(76, 76, 211);
}

hr {
    margin: 25px 25px;
}


/* BODY */

body {
    background-color: rgb(236, 238, 238);
}

#body-content {
    padding-top: 0px;
}


/* HEADER */

#header {
    background-color: rgb(49, 49, 48);
}

#company-logo {
    padding-top: 10px;
    padding-left: 10px;
    float: left;
    z-index: 20;
}

#company-logo > a {
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    color: white;
}

#header-menu {
    margin: 0;
    font-family: 'Heebo', sans-serif;
    font-size: 100%;
    z-index: 10;
}

.navbar-toggler {
    background-color: white;
}

#log-in-button-1 > div, #log-in-button-2 > div, #log-in-button-3 > div {
    background-color: rgb(49, 49, 48);
}

#log-in-button-1, #log-in-button-2, #log-in-button-3, #header > div {
    background-color: rgb(49, 49, 48);
}

#log-in-button-1 > button, #log-in-button-2 > button, #log-in-button-3 > button {
    background-color: white;
    border-color: rgb(49, 49, 48); 
    color:rgb(49, 49, 48);    
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
    font-family: 'Heebo', sans-serif;
}

#header-mdenu > nav {
    margin:auto;
}

#header-menu > nav {
    margin: auto;
}

#navbarNav > ul > li > a {
    color: white;
    text-align: right;
}

#header-menu > nav > button {
    margin: auto;
}


/* ALERTS -  Bootstrap */

/* message-container class Copie from Code Institute, Boutique Ado Project, on May 1st, 2022, at 23:57 */
#message-container {
    position: fixed;
    top: 72px;
    right: 30px;
    z-index: 1000000;
    width: 200px; /* Added */
    display: none; /* Added */
}

.alert {
    display: none;
}


/* CARDS -  Bootstrap */

.card-body {
    color: rgb(76, 76, 211);
}



/* SIGN-IN, SIGN-UP and LOG-OUT PAGES*/

#body > div > div:nth-child(1) > div > p {
    margin-top: 50px;
    font-family: 'Heebo', sans-serif;
    margin-bottom: 50px;
    color: rgb(49, 49, 48);
    font-size: 150%;
}

#signup_form, #body > div > div:nth-child(2) > div > form {
    margin-bottom: 410px;
}

#body > div > div:nth-child(2) > div {
    margin-bottom: 175px;
}

/* Input fields */
#id_login, #id_username, #id_password, #id_password1, #id_password2 {
    border-style: solid;
    border-radius: 10px;
    width: 70%;
    float: right;
    text-align: left;
}

#signup_form > p {
    text-align: left;
}

/* Django sign-in, sign-up and sign-out buttons*/
#body > div > div:nth-child(2) > div > form > button,
#signup_form > button {
    width: 200px;
    height: 40px;    
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Heebo', sans-serif;
    border-style: solid;
    border-color: rgb(49, 49, 48);
    background-color: white;
}

/* E-mail input fields */
#id_email {
    width: 70%;
}


/* FOOTER */

#footer {
    position: relative;
    top: 100px;
    background-color: rgb(49, 49, 48);    
}

#company-data {
    padding: 25px;   
    color: white;
}

#company-data > p {
    font-family: 'Heebo', sans-serif;
}

#company-links {
    height: 50%;
    margin: 0;    
}

a.nav-link {
    padding-top: 10px;
    margin: auto;
}

#footer-contact-link {
    height: 50%;
    margin: auto;
    text-align: center;
    font-family: 'Heebo', sans-serif;
}

#footer-contact-link > a {
    padding-top: 25px;
    color: white;
}

#company-links > nav {
    margin: auto;
    font-size: 250%;
}

#company-links > nav > a {
    padding-top: 25px;
    color: white;
}

#company-data > p {
    margin: 0;
}

.navbar-toggler.toggler-example {
    cursor: pointer;
}


/* ***************** */
/* INSTRUCTIONS PAGE */
/* ***************** */

/* Main title */
#instructions-title > div > div > h3, #body-content > section > div > h3 {
    color: rgb(49, 49, 48);
}

#instructions-title > div > div > h3 {
    padding-top: 20px;
}

#instructions-title {
    margin-top: 100px;
}

#body-content {
    height: 2560px;
}

/* Instructions images */
.instructions-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 75%;
}

.instruction-box {
    border-style: groove;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
}


/* ************ */
/* WEATHER PAGE */
/* ************ */

/* Credits for Esri/ArcGIS and Google */
#source-Esri, #source-Google {
    margin-top: 75px;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    text-align: center;
    color: rgb(76, 76, 211);
}

/* Credits for Esri/ArcGIS and Google */
#source-Esri > p, #source-Google > p {
    padding-top: 10px;
    margin-bottom: 0px;
    color: rgb(76, 76, 211)!important;
}

#top-container {    
    margin-bottom: 12px;   
}

/* Esri/ArcGIS Map */
#viewDiv {
    padding: 0 20px;
}

/* Esri/ArcGIS Map */
#viewDiv_gc {
    border-color: rgb(49, 49, 48);
    border-style: solid;
}

/* Panel */

#manual-latitude, #label-for-latitude, #manual-longitude, #label-for-longitude {
    margin-top: 5px;
}

#get-weather-data {
    height: 40px;
}

#get-weather-data, #send-weather-data {
    height: 50px;
}

#get-weather-data-button, #send-weather-data-button {
    width: 200px;
    height: 40px;    
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Heebo', sans-serif;
    background-color: white;
}

.weather-data-label > p, #manual-latitude-label,
#manual-longitude-label, .weather-data-label > label {
    color: rgb(49, 49, 48);
    font-family: 'Heebo', sans-serif;
    text-align: right;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 110%;
}

#latitude > p, #longitude > p, #form-right-2 > p {
    font-family: 'Heebo', sans-serif;
    color: rgb(49, 49, 48);
    text-align: center;
    font-size: 90%;
    font-style: italic;
    font-weight: normal;
    margin-top: 2px;
}

#send-weather-data > p, #crud-log-in-to-edit {
    font-family: 'Heebo', sans-serif;
    color: rgb(49, 49, 48);
    text-align: center;
    font-size: 90%;
    font-style: italic;
    font-weight: normal;    
    margin-top: 20px;
}

#latitude-input, #longitude-input, .weather-data-value > input {
    width: 100%;
    color: rgb(76, 76, 211);
    border-style: solid;
    border-radius: 10px;
}

#get-weather-data {
    margin-top: 10px;
}

.weather-data-value {
    font-family: 'Heebo', sans-serif;
    color: rgb(76, 76, 211);
    text-align: left;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 110%;
}

#results-title, #enter-manually-title, #weather-data-title {
    margin-top: 20px;
    height: 40px;
}

#results-title > p, #enter-manually-title > p, #weather-data-title > p {
    margin: auto;
    font-size: 150%;
    text-align: center;
    font-size: 140%;
    color: rgb(98, 88, 184);
}

/* Selection panel */

#select-data-options-title {
    font-family: 'Heebo', sans-serif;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 140%;
    color: rgb(98, 88, 184);
}

.radio-select-label {
    font-family: 'Heebo', sans-serif;
    color: rgb(98, 88, 184);
}

#wind-extra-info {
    margin-bottom: 225px;
}

#temperature-extra-info {
    margin-bottom: 225px;
}

#other-weather-extra-info {
    margin-bottom: 225px;
}

/* CRUD Panel */

/* Hidden element to associate record for later update */
#hidden-id-for-update {
    display: none;
}

#crud-panel-title {
    margin-top: 20px;
    margin-bottom: 20px;
}

#crud-panel-title > p {
    font-family: 'Heebo', sans-serif;
    margin: auto;
    text-align: center;
    font-size: 140%;
    color: rgb(98, 88, 184);
}

.crud-button-div {
    height: 50px;
}

#crud-create-or-edit-panel {
    display: none;
    background-color: rgb(221, 221, 218);
    margin-top: 25px;
    margin-bottom: 0;
    padding-top: 25px;
    padding-bottom: 0;
}

.crud-button, #crud-send-weather-data-button,
#crud-quit-edition-mode-button {
    width: 200px;
    height: 40px;    
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Heebo', sans-serif;
    background-color: white;
}

#crud-send-weather-data-button-div {
    height: 100px;
}

#crud-quit-edition-mode-button-div {
    margin-top: -1px;
    padding-top: 35px;
    padding-bottom: 35px;
    display: none;
    height: 30px;
}

.background-color-grey {
    background-color: rgb(202, 200, 198);
}

#crud-panel-status {
    margin-top: 25px;
    margin-bottom: 25px;
}

#crud-panel-status > p {
    font-family: 'Heebo', sans-serif;
    margin: auto;
    text-align: center;
    font-size: 140%;
    color: rgb(102, 204, 55);
}


/* Google Chart Graphs */

#curve_chart_left > div > div > div > svg,
#curve_chart_middle > div > div > div > svg,
#curve_chart_right > div > div > div > svg {
    border-style: groove;
    border-radius: 10px;
}

#curve_chart_left, #curve_chart_middle, #curve_chart_right {
    width: 100%;
    height: 250px;
}

/* Tables */

#wind-table {
    width: 90%;
    margin-top: 25px;
    text-align: center;
}

#temperature-table {
    width: 90%;
    margin-top: 25px;
    text-align: center;
}

#other-weather-table {
    width: 90%;
    margin-top: 25px;
    text-align: center;
}

#wind-table > tbody > tr > th, #temperature-table > tbody > tr > th, #other-weather-table > tbody > tr > th{
    font-family: 'Heebo', sans-serif;
    color: rgb(98, 88, 184);
}

td {
    font-family: 'Oxygen', sans-serif;
    color: rgb(76, 76, 211);;
}

.edit-button-in-table {
    display: none;
}

.delete-button-in-table {
    display: none;
}


/* ********* */
/* BLOG PAGE */
/* ********* */

.card-body {
    text-align: center;
    margin: auto;
}

.topic-icon > i {
    font-size: 300%;
    padding-bottom: 20px;
    color: rgb(98, 88, 184);
}

#post-box {
    margin-top: 100px;
}

#blog-content.row {
    margin-bottom: 0px;
}

#comments-container,
#comments-container > div,
#comments-subtitle-section {
    background-color: rgb(236, 238, 238);
    border-color: rgb(236, 238, 238);
}

/* Django form button in sign in to comment */
#comments-container > div > div > button {
    font-family: 'Heebo', sans-serif!important;
}

/* Django form buttons for deleting comments */
#comments-container > div > div > div > form > button {
    font-family: 'Heebo', sans-serif!important;
}

/* Django form button for submitting a comment */
#sign-in-in-leave-a-comment {
    font-family: 'Heebo', sans-serif!important;
}

/* **************** */
/* POST DETAIL PAGE */
/* **************** */

#post-detail-body {
    margin-top: 100px;    
}

.masthead {
    font-weight: bold;
    text-align: center;
}

.masthead-text {
    font-family: 'Heebo', sans-serif;
}

.text-secondary {
    font-family: 'Oxygen', sans-serif;
}

#post-details-summary {
    text-align: center;
}


/* ************ */
/* CONTACT PAGE */
/* ************ */

#contact-form {
    margin-top: 100px;
    height: 710px;
}

#contact-form > form {
    border-style: groove;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
}

#form-left-1 {
    height: 75px;
    margin: 5px;
}

#form-left-2, #form-left-3, #form-right-2 {
    height: 75px;
    margin: 5px;
}

#form-right-1 {
    height: 300px;
    margin: 5px;
}

.form-labels {
    font-family: 'Heebo', sans-serif;
}

/* Django input fields */
#id_name, #id_surname, #id_email {
    width: 70%;
    float: right;
    border-style: solid;
    border-radius: 10px;
}

/* Django input field */
#id_text_content {
    width: 70%;
    float: right;
    height: 250px;
    border-style: solid;
    border-radius: 10px;
}

/* Django button */
#contact-form-button {
    width: 200px;
    height: 40px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Heebo', sans-serif;
    background-color: white;
}


/* ************** */
/* THANK YOU PAGE */
/* ************** */

#thanks-div-1 {
    margin-top: 150px;
    color: rgb(98, 88, 184);
}

#thanks-div-3 {
    margin-bottom: 245px;
}

#thanks-div-1 > div > div > p {
    font-family: 'Heebo', sans-serif;
    font-size: 200%;
    font-weight: bold;
    color: rgb(98, 88, 184);
}

#thanks-div-2 > div > div > p, #thanks-div-3 > div > div > p {
    font-family: 'Heebo', sans-serif;
    font-size: 150%;
    color: rgb(49, 49, 48);
}


/* ************* */
/* MEDIA QUERIES */
/* ************* */


/* FOOTHER ON BIG SCREEN SIZE, HEIGHT ABOVE 1080px */

@media screen and (min-height: 1081px) {

    /* BODY */
    #body-content > section:nth-child(7),
    #body > div.container-fluid > nav > ul {        
        padding-bottom: 300px;
    }

    /* FOOTER */

    footer {
        position: fixed;
        bottom: 70px;
        height: 200px;
        width: 100%;        
    }

}

@media screen and (min-height: 1081px) and (max-width: 577px) {

    /* BODY */
    #body-content > section:nth-child(7) {        
        padding-bottom: 0px;
    }

    /* FOOTER */
    footer {
        position: relative;
    
    }

}


/* SCREEN SIZE WIDTH BELOW 1200px */

@media screen and (max-width: 1200px) {

    /* BLOG PAGE */

    #blog-content {
        margin-bottom: 240px;
    }

}


/* SCREEN SIZE WIDTH BELOW 992px */

@media screen and (max-width: 992px) {

    /* INSTRUCTIONS PAGE */
    #body-content {
        height: 2950px;
    }

    #select-data-options {
        text-align: center;
    }

    /* WEATHER PAGE */

    #viewDiv {
        width: 100%;
        height: 300px;
    }

}


/* SCREEN SIZE WIDTH BELOW 768px */

@media screen and (max-width: 768px) {

    /* HEADER  */

    #log-in-button-1 > button, #log-in-button-2 > button, #log-in-button-3 > button {
        position: relative;
        left: 5px;
        padding-right: 2px;
        padding-left:  2px;;
    }

    /* INSTRUCTIONS PAGE */
    #body-content {
    height: 3650px;
    }

}


/* SCREEN SIZE WIDTH BELOW 575px */

@media screen and (max-width: 576px) {

    /* HEADER */

    #company-logo {
        float: right;
    }

    a.navbar-brand {
        padding-left: 10%;
    }
    
    #log-in-button-1 > button, #log-in-button-2 > button, #log-in-button-3 > button {
        margin-bottom: 5px;
        margin-top: 0px;
        /* To align vertically "Log In" inside the button*/
        padding-top: 6px;
        padding-bottom: 10px;
    }

    #log-in-button-1, #log-in-button-2, #log-in-button-3 {
        padding-left: 10px;
        padding-right: 15px;
        margin-left: 0;
        margin-right: 0;
    }

    #header-menu > nav {        
        float: right;     
    }

    #header-menu > nav > button.navbar-toggler {        
        margin-right: 0;
        float: right;        
    }

    #log-in-button-1 > button, #log-in-button-2 > button, #log-in-button-3 > button {
        /* 110% to keep text in button centered down to 280px width*/
        width: 100%;
    }

    #header-menu > nav {        
        padding-right: 0;
    }

    #log-in-button-1 > button, #log-in-button-2 > button, #log-in-button-3 > button {
        padding:7px 4px 7px;
    }

    #body > div > div:nth-child(1) > div > p,
    #body > div > div:nth-child(1) > div > h3 {
        margin-top: 100px;
    }

    /* FOOTER */

    #company-links > nav > a {
        padding-top: 0;
        padding-bottom: 10px;
    }

    #footer-contact-link > a {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    #footer {        
        top: 1600px;        
    }

    #footer-contact-link > a {
        padding-bottom: 0px;
    }

    #company-data > p {
        text-align: center;
    }

    /* INSTRUCTIONS PAGE */

    #instructions-title > div {
        margin-top: 50px;
    }

    /* WEATHER PAGE */

    #source-Esri {
        margin-top: 125px;
    }

    #body-content {
        height: 5000px;
    }

    #other-weather-extra-info {
        margin-bottom: 400px;
    }

    #source-Google {
        margin-top: 0;
    }

    .weather-data-label > p, #manual-latitude-label, #manual-longitude-label {
        text-align: center;
    }

    .weather-data-value {
        text-align: center;
    }

    /* CONTACT PAGE */

    #contact-form > form {
        border-style: hidden;
        border-radius: 0;
        padding: 0;
        margin: 0;
    }

    #form-left-1 {
        margin-top: 50px;
        height: 75px;
    }

    #form-left-2, #form-left-3, #form-right-2 {
        height: 75px;
    }

    #form-right-1 {
        height: 300px;
    }

    .form-labels {
        width: 100%;
        text-align: center;
    }
    
    #id_name, #id_surname, #e-mail-contact > #id_email {
        height: 30px;
        width: 100%;
    }
    
    #id_email {
        width: 100%;
    }
    
    #id_text_content {
        width: 100%;
        height: 250px;
    }

    /* POST DETAILS */

    #post-detail-body {
        padding-top: 75px;    
    }

}


