/* CSS File for the Weather and Quality Control for
Seismic Data Acquisition Website */

/* SECTION/GROUP OF PRINCIPAL CSS STYLES ARE COMMENTED WITH CAPITAL LETTERS plus 1 break line */
/* Subsections/Subgroups of CSS styles are commented in lower-case plus 1 break line */
/* Specific element styles are commented on top of the element, without break line */

/* FONTS */


/* GENERAL STYLES */

/* BODY */
#body-content {
    margin-top: 75px;
}


/* HEADER */

#header {
    
}

#company-logo {
    background-color: aqua;
}

#header-menu {
    background-color: rgb(0, 255, 55);
    margin: 0;
}

#log-in-button {
    background-color: rgb(55, 0, 255);
}

#header-mdenu > nav {
    margin:auto;
}

#header-menu > nav > button {
    margin: auto;
}

#header-menu {
    padding: 0;
    margin: auto;
}

/* FOOTER */

#company-data {
    background-color: rgb(55, 0, 255);
}

#company-links {
    background-color: rgb(0, 255, 55);
    height: 50%;
    margin: 0;
}

a.nav-link {
    padding-top: 10px;
    margin: auto;
}

#footer-contact-link {
    background-color: rgb(255, 0, 212);
    height: 50%;
    margin: auto;
    text-align: center;
}

#company-links > nav {
    margin: auto;
    font-size: 250%;
}

#footer {
    background-color: aqua;
}


.navbar-toggler.toggler-example {
    cursor: pointer;
    }