/* CSS File for the Weather and Quality Control for
Seismic Data Acquisition Website */

/* SECTION/GROUP OF PRINCIPAL CSS STYLES ARE COMMENTED WITH CAPITAL LETTERS plus 1 break line */
/* Subsections/Subgroups of CSS styles are commented in lower-case plus 1 break line */
/* Specific element styles are commented on top of the element, without break line */

/* FONTS */
/* Heebo (Medium 500) and Oxygen (Regular 400) */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Oxygen&display=swap');


/* GENERAL STYLES */

/* BODY */
#body-content {
    margin-top: 75px;
}


/* HEADER */

#header {
    
}

#company-logo {
    background-color: aqua;
}

#header-menu {
    background-color: rgb(0, 255, 55);
    margin: 0;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-size: 100%;
    z-index: 10;
}

#log-in-button {
    background-color: rgb(55, 0, 255);
}

#header-mdenu > nav {
    margin:auto;
}

#header-menu > nav > button {
    margin: auto;
}

/*#header-menu {
    padding: 0;
    margin: auto;
}*/

#log-in-button > button {
    margin-top: 10px;
    float: right;
}



/* Solution for modal windown appearing below elements, in the background:
Copied on June 19th, 2021, at 3:17, from Stack Overflow:
https://stackoverflow.com/questions/10636667/bootstrap-modal-appearing-under-background
*/
.modal-backdrop {
    z-index: -1;
}

/* FOOTER */

#footer {
    background-color: aqua;
}

#company-data {
    background-color: rgb(55, 0, 255);
    font-family: 'Heebo', sans-serif;
}

#company-links {
    background-color: rgb(0, 255, 55);
    height: 50%;
    margin: 0;
}

a.nav-link {
    padding-top: 10px;
    margin: auto;
}

#footer-contact-link {
    background-color: rgb(255, 0, 212);
    height: 50%;
    margin: auto;
    text-align: center;
    font-family: 'Heebo', sans-serif;
}

#company-links > nav {
    margin: auto;
    font-size: 250%;
}

#company-data > p {
    margin: 0;
}

.navbar-toggler.toggler-example {
    cursor: pointer;
}