<!-- 403 PAGE FOR THE PROJECT -->

{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="overlay-404"></div>
    <div id="error-403-div" class="container-fluid h-100">
        <div class="row">
            <div class="col-12 my-auto">
                <p id="message-in-403-page" class="dark-blue-font">Sorry, something went wrong (Error 403)... Please, try later.</p>            
                <p class="mt-2">
                    <a id="home-button-in-403" class="btn btn-dark rounded-0 text-uppercase" href="{% url 'instructions' %}">Home</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}