{% extends "base.html" %}
{% block content %}


<!-- https://docs.djangoproject.com/en/4.0/topics/forms/ -->
<div id="contact-form" class="container">
    <form action="/thanks/" method="post">
        {% csrf_token %}
        
        <div class="row">
            <div class="col-12 col-lg-6">
                <div id="form-left-1" class="col-12">
                    {{ form.name.errors }}
                    <label for="{{ form.name.id_for_label }}">Name</label>
                    {{ form.name }}
                </div>
                <div id="form-left-2" class="col-12">
                    {{ form.surname.errors }}
                    <label for="{{ form.surname.id_for_label }}">Surname</label>
                    {{ form.surname }}
                </div>
                <div id="form-left-3" class="col-12">
                    {{ form.email.errors }}
                    <label for="{{ form.email.id_for_label }}">Email</label>
                    {{ form.email }}
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div id="form-right-1" class="col-12">
                    {{ form.text_content.errors }}
                    <label for="{{ form.text_content.id_for_label }}">Description</label>
                    {{ form.text_content }}
                </div>
                <div id="form-right-2" class="col-12">
                    <input type="submit" value="Submit">
                </div>
            </div>
        </div>
    </form>
</div>





    
    


{% endblock %}