{% extends "base.html" %}
{% block content %}
    <!-- Instructions -->
    <div id="body-content" class="container">
        <section id="instructions-title" class="row">
            <div class="col-12">            
                <h2 class="h2-titles">Instructions to use this website</h2>
                <div>
                    <h3>Subtitle</h3>
                    <p>
                        Instructions here asdfasdfdfasdflaksj as sdkfjsldkfjlasdkfd
                    </p>
                </div>            
            </div>
        </section>
        <hr>
        <section class="row">   
            <div class="col-12">
                <h2 class="h2-titles">Follow these steps to use the weather data</h2>
            </div>          
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <h3>Step 1</h3>
                <p>Log in</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <h3>Step 2</h3>
                <p>Zoom to area of interes sdfsd fasd fsewe wefwe fwefasdf sd fsdfes fwefwefwefw efwef wef wefwe fwe fe </p>
            </div> 
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <h3>Step 3</h3>
                <p>Pick exact location</p>
            </div> 
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <h3>Step 4</h3>
                <p>Pres "Get Data"</p>
            </div> 
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <h3>Step 5</h3>
                <p>Visualize data</p>
            </div> 
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <h3>Step 6</h3>
                <p>Analize data</p>
            </div> 
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <h3>Step 7</h3>
                <p>Save data</p>
            </div>        
        </section>
        <hr>
        <section class="row">   
            <div class="col-12">
                <h2 class="h2-titles">Follow these steps to use the weather data</h2>
            </div>          
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <h3>Step 1</h3>
                <p>Log in</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <h3>Step 2</h3>
                <p>Zoom to area of interes</p>
            </div> 
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <h3>Step 3</h3>
                <p>Pick exact location</p>
            </div> 
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <h3>Step 4</h3>
                <p>Pres "Get Data"</p>
            </div> 
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <h3>Step 5</h3>
                <p>Visualize data</p>
            </div> 
        </section>
    </div>
    <!-- /.Instructions -->    
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}