<!--
Code copied from Code Institute "I Think Therefore I Blog" project,
# index.html file, on December 20th, 2022 at 18:58
-->

{% extends "base.html" %}
{% block content %}
{% load static %}
    <!-- Instructions -->
    <div id="body-content" class="container">
        <!-- Description of the Goal of the Sie -->
        <section id="instructions-title" class="row">
            <div class="col-12">            
                <h1 class="h2-titles">Instructions to use this site</h1>
                <div>
                    <h3>Get weather data, open a discussion or ticket, contact us</h3>
                    <p>This site is designed for planning the daily activities of a crew that works for seismic and/or other geophysical data acquisition.</p>
                    <p>As weather conditions are important factors that have a direct impact on planning and costs, the idea of the website is to provide a tool to gather and analyse weather information, along with a blog with different topics to discuss usual issues found in this kind of work, in light of solving them in a centralised application, fact that is very valuable in crews with many workers, in remote locations.</p>
                    <p>As wind and temperature might be the most important factors in terms of impact, they are show separately in two independents groups, with a third group with other weather information where the user can select what to get and analyse.</p>
                    <p>Also, as remote locations might have difficulties for Internet connections (physical connections in early days, nowadays perhaps cost constraints only) and weather information might be compromised, at least the blog is intended to help on the resolution of issues in a centralised way, using a unique channel, factor that might be critical under usual conditions of work under presure where "noisy" communications are always unwanted.</p>
                    <p>Additionally, an instructions page is given to help on the use of the site, and a contact page with a form where the user can send feedback if desired.</p>
                </div>            
            </div>
        </section>
        <hr>
        <!-- Instructions for Weather Page -->
        <section class="row">   
            <div class="col-12">
                <h2 class="h2-titles">Weather Page</h2>
            </div>          
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 instruction-box">
                <h3>Step 1</h3>
                <p>Sign in to send data to the database, otherwise you can only read weather data.</p>
                <img class="instructions-image" src="{% static 'images/instructions-log-in.PNG' %}" alt="Image related to instructions sign-in">
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 instruction-box">
                <h3>Step 2</h3>
                <p>Zoom to the area of interest in the map.</p>
                <img class="instructions-image" src="{% static  'images/instructions-map.PNG' %}" alt="Image related to instructions zoom">
            </div> 
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 instruction-box">
                <h3>Step 3</h3>
                <p>Pick location on map where you want to get the weather data.</p>
                <img class="instructions-image" src="{% static  'images/instructions-map.PNG' %}" alt="Image related to instructions for picking location on map">
            </div> 
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 instruction-box">
                <h3>Step 4</h3>
                <p>Alternatively, enter the desired location coordiantes manually.</p>
                <img class="instructions-image" src="{% static  'images/instructions-manual-coordinates-1.PNG' %}" alt="Image related to instructions for entering coordinates">
                <img class="instructions-image" src="{% static  'images/instructions-manual-coordinates-2.PNG' %}" alt="Image related to instructions for entering coordinates">
                <img class="instructions-image" src="{% static  'images/instructions-manual-coordinates-3.PNG' %}" alt="Image related to instructions for entering coordinates">
            </div> 
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 instruction-box">
                <h3>Step 5</h3>
                <p>Pres "Get the weather data."</p>
                <img class="instructions-image" src="{% static  'images/instructions-get-data.PNG' %}" alt="Image related to instructions for entering coordinates">
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 instruction-box">
                <h3>Step 6</h3>
                <p>Pres "Send the weather data to the database. This option is disabled if you are not logged in."</p>
                <img class="instructions-image" src="{% static  'images/instructions-send-data.PNG' %}" alt="Image related to instructions for sending the information to the database">
            </div> 
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 instruction-box">
                <h3>Step 7</h3>
                <p>Visualize data selecting 5, 15 or all records. First set (left) accounts for wind data, second one (middle) for temperature. Select which two other parameters to show in third set (right).</p>
                <img class="instructions-image" src="{% static  'images/instructions-visualize-data.png' %}" alt="Image related to instructions for visualization the data on tables and Google Chart graphs">
            </div> 
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 instruction-box">
                <h3>Step 8</h3>
                <p>Inspect, analize data. They are saved in the database when sending the data.</p>
            </div>        
        </section>
        <hr>
        <!-- Instructions for Blog Page -->
        <section class="row">   
            <div class="col-12">
                <h2 class="h2-titles">Blog Page</h2>
            </div>          
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 instruction-box">
                <h3>Step 1</h3>
                <p>Log in to create a discussion or ticket, or to add comments to them. If not logged in, you can only read the blogs.</p>
                <img class="instructions-image" src="{% static  'images/instructions-log-in.PNG' %}" alt="Image related to instructions sign-in">
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 instruction-box">
                <h3>Step 2</h3>
                <p>Select the topic which your concern is related to.</p>
            </div> 
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 instruction-box">
                <h3>Step 3</h3>
                <p>Access last information and/or add comments until the ticket or discussion is closed.</p>
            </div>
        </section>
        <hr>
        <!-- Instructions for Contact Page -->
        <section class="row">   
            <div class="col-12">
                <h2 class="h2-titles">Contact Page</h2>
            </div>          
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 instruction-box">
                <h3>Step 1</h3>
                <p>Log in to contact us.</p>
                <img class="instructions-image" src="{% static  'images/instructions-log-in.PNG' %}" alt="Image related to instructions sign-in">
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 instruction-box">
                <h3>Step 2</h3>
                <p>Fill in your details and text you want to send.</p>
            </div>
        </section>
    </div>
    <!-- /.Instructions -->    
{% endblock %}

{% block scripts %}
<script src="{% static  'js/index.js' %}"></script>
  
{% endblock %}