<!--
Code copied and modified from Code Institute "I Think Therefore I Blog" project
on December 20th, 2021; later modified on December23rd, 2021 at 15:20; later modified
-->

{% extends 'base.html' %} 

{% load crispy_forms_tags %}

{% block content %}

<!-- Header with blog details -->
<div id="post-detail-body" class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-12 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">{{ post.title }}</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="post-subtitle text-info">{{ post.author }} | {{ post.created_on }}</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div id="comments-subtitle-section" class="col offset-md-2 col-md-8 offset-lg-3 col-lg-6 card mb-4  mt-3 left top border-secondary rounded">
            <div id="post-details-summary" class="card-body">
                <!-- Blog content -->
                {{ post.content | safe }}                
                <div class="row">
                    <div  class="col-6">
                    <!-- Likes -->
                    <!-- Show "likes", change colour if there is/are comment/s -->
                    <!-- If user is authenticated -->
                    {% if user.is_authenticated %}
                        <!-- Copied and modified from https://stackoverflow.com/questions/62901935/displaying-like-and-dislike-buttons-if-user-has-liked-a-post-with-django
                        on May 4th, 2022, at 17:30 -->
                        <!-- The number of likes goes before the closing strong tag.
                        Icon for "likes":
                        Credit: Font Awesome
                        Downloaded on January 7th, 2022, 04:14, from https://fontawesome.com/v5.15/icons/thumbs-up?style=regular --> 
                        {% if user in post.likes.all %}
                            <form action="{% url 'dislike' post.id  %}" method="post">
                                {% csrf_token %}
                                <button type='submit' name='dislike' value="{{ post.id }}" class="btn btn-link"><strong class="text-primary"><i class="far fa-thumbs-up"></i> {{ post.number_of_likes }} </strong></button>
                                <input type="hidden" name="post_slug" value="{{ post.slug }}"/>
                            </form>                    
                        {% else %}                        
                            <form action="{% url 'like' post.id  %}" method="post">
                                {% csrf_token %}
                                <button type='submit' name='like' value="{{ post.id }}" class="btn btn-link"><strong class="text-secondary"><i class="far fa-thumbs-up"></i> {{ post.number_of_likes }} </strong></button>
                                <input type="hidden" name="post_slug" value="{{ post.slug }}"/>
                            </form>                    
                        {% endif %}
                    <!-- If user is not authenticated -->
                    <!-- Show "likes", change colour if there is/are comment/s -->
                    {% else %}                    
                        {% if post.number_of_likes == 0 %}
                            <button type='submit' name='dislike' value="{{ post.id }}" class="btn btn-link">
                                <strong class="text-secondary"><i class="far fa-thumbs-up"></i> {{ post.number_of_likes }} </strong>
                                <a href="{% url 'account_login' %}" class="text-secondary"> Sign in to vote</a>
                            </button>
                        {% else %}
                        <button type='submit' name='dislike' value="{{ post.id }}" class="btn btn-link">
                            <strong class="text-primary"><i class="far fa-thumbs-up"></i> {{ post.number_of_likes }} </strong>
                            <a href="{% url 'account_login' %}" class="text-primary"> Sign in to vote</a>
                        </button>
                        {% endif %}        
                    {% endif %}
                    </div>
                    <!-- Number of comments -->
                    <div class="col-6 mt-2">
                        {% with comments.count as total_comments %}
                        <!-- Total comments, change colour if there is/are comment/s -->
                            {% if total_comments == 0 %}
                            <strong class="text-secondary"><i class="far fa-comments"></i>
                                <!-- Total comments -->
                                {{ total_comments }}</strong>
                            {% else %}
                            <strong class="text-primary"><i class="far fa-comments"></i>
                                <!-- Total comments -->
                                {{ total_comments }}</strong>
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!-- Blog comments -->
    <div id="comments-container" class="row">
        <div class="col-12 col-lg-6 card mb-4  mt-3 border-secondary rounded">
            <h3 class="mt-2 text-center">Comments</h3>
            <div class="card-body">
                {% with comments.count as total_comments %}
                    {% if total_comments == 0 %}
                    <div class="comments">
                        <p class="font-weight-bold text-info">Be the first to comment!</p>
                    </div>
                    {% else %}
                        <!-- Iteration through -->
                        {% for comment in comments %}
                        <div class="comments border-secondary rounded">
                            <p class="font-weight-bold">
                                <!-- Commenter's name -->                        
                                {{ comment.name }}
                                <span class="text-info font-weight-normal">
                                    <!-- Comment's date -->
                                    {{ comment.created_on }}
                                </span> wrote:
                            </p>
                            <!-- Body of comment -->
                            {{ comment.body | linebreaks }}
                            {% if user.is_authenticated and user|stringformat:"s" == comment.name %}
                            <!-- Form to send a request to delete a comment -->
                            <form action = "{% url 'delete_comment' comment.id %}" method = "POST">
                                {% csrf_token %}
                                <input type="hidden" name="post_slug" value="{{ post.slug }}"/>
                                <button class="btn btn-warning">Delete</button>
                            </form>
                            {% endif %}
                            <hr>
                        </div>
                        <!-- For loop ends here -->
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="col-12 col-lg-6 card mb-4 mt-2 mt'2">
            <div class="card-body">
                <!-- Load comments -->
                <!-- If user is authenticated, inform of the status of his comment or give the option to send one -->
                {% if user.is_authenticated %}
                    {% if commented %}
                        {% if not approved %}
                            <div role="alert" class="border-secondary rounded">
                                <p class="m-4 p-3 my-auto text-light bg-primary border-secondary rounded">Your comment is awaiting approval</p>                    
                            </div>
                        {% endif %}
                    {% else %}
                        <h3>Leave a comment</h3>
                        <p class="text-info">Posting as: {{ user.username }}</p>
                        <form method="post">
                            {{ comment_form | crispy }}
                            {% csrf_token %}
                            <input type="hidden" name="comment_id" value="{{ comment.id }}"/>
                            <input type="hidden" name="post_slug" value="{{ post.slug }}"/>
                            <button id="sign-in-in-leave-a-comment" type="submit" class="btn btn-signup btn-lg btn-dark">Submit</button>
                        </form>
                    {% endif %}
                <!-- If user is not authenticated, give the option to sign in -->
                {% else %}
                    <h3>Sign in to comment</h3>
                    <button type="button" class="btn btn-dark btn-lg mt-2" onclick="window.location.href='{% url 'account_login' %}';">
                        Sign In
                    </button> 
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}