{% extends "base.html" %}
{% block content %}

<div>Thanks!</div>
<div>Thanks!</div>
<div>Thanks!</div>
<div>Thanks!</div>
<div>Thanks!</div>
<div>Thanks!</div>
<div>Thanks!</div>
<div>Thanks 
    
    {{ form_data.name }} {{ form_data.surname }} ({{ form_data.email }}) for contacting us.</div>
    
<div>This is the text you have just sent (on {{ form_data.date }}, at{{ form_data.time }}):</div>
<div>{{ form_data.description }}</div>
<div>Thanks!</div>
<div>Thanks!</div>
<div>Thanks!</div>
<div>Thanks!</div>
<div>Thanks!</div>
<div>Thanks!</div>

{% endblock %}