{% extends "base.html" %}
{% block content %}
    <!-- Weather Data -->
    <div id="top-container" class="container">
        
        <section id="weather-map-and-data" class="row">

            <div id="viewDiv" class="col-12 col-sm-12 col-md-12 col-lg-6">   
            </div>       
            
            <div id="weather-data" class="col-12 col-sm-12 col-md-12 col-lg-6">
                <div class="row">
                    <div id="weather-data-title" class="col-12"><p>Coordinates for Weather Data</p></div>
                    <div id="latitute-title" class="col-12 col-sm-6 col-md-3"><p>Latitude</p></div>
                    <div id="latitude" class="col-12 col-sm-6 col-md-3"><p>90</div>
                    <div id="longitude-title" class="col-12 col-sm-6 col-md-3"><p>Longitude</p></div>
                    <div id="longitude" class="col-12 col-sm-6 col-md-3"><p>110</p></div>
                    <div id="enter-manually-title" class="col-12"><p>Manual Input of Coordinates</p></div>
                    <div id="manual-latitute-label" class="col-12 col-sm-6 col-md-3">
                        <label for="latitude-input" id="label-for-latitude">Latitude</label>
                    </div>
                    <div id="manual-latitute" class="col-12 col-sm-6 col-md-3">
                        <input id="latitude-input" type="number">
                    </div>
                    <div id="manual-longitude-label" class="col-12 col-sm-6 col-md-3">
                        <label for="longitude-input" id="label-for-longitude">Longitude</label>
                    </div>                    
                    <div id="manual-longitude" class="col-12 col-sm-6 col-md-3">
                        <input id="longitude-input" type="number">
                    </div>
                    <div id="get-weather-data" class="col-12">
                        <button id="get-weather-data-button" type="submit">Get Data</button>
                    </div>
                    <div id="results-title" class="col-12"><p>Weather Data</p></div>
                    <!-- Weather Data -->
                    <div id="wind" class="col-12 col-sm-6 col-md-3"><p>Wind Speed</p></div>                                       
                    <div id="wind-label" class="col-12 col-sm-6 col-md-3"><p>(wind speed)</p></div>
                    <div id="b" class="col-12 col-sm-6 col-md-3"><p>Direction</p></div>
                    <div id="c" class="col-12 col-sm-6 col-md-3"><p>(direction)</div>
                    <div id="d" class="col-12 col-sm-6 col-md-3"><p>Temperature</p></div>
                    <div id="e" class="col-12 col-sm-6 col-md-3"><p>(temperature)</p></div>
                    <div id="f" class="col-12 col-sm-6 col-md-3"><p>Feels Like</p></div>
                    <div id="g" class="col-12 col-sm-6 col-md-3"><p>(feels like)</p></div>
                    <div id="h" class="col-12 col-sm-6 col-md-3"><p>Pressure</p></div>
                    <div id="i" class="col-12 col-sm-6 col-md-3"><p>(pressure)</p></div>
                    <div id="j" class="col-12 col-sm-6 col-md-3"><p>Humidity</p></div>
                    <div id="k" class="col-12 col-sm-6 col-md-3"><p>(humidity)</p></div>
                    <div id="l" class="col-12 col-sm-6 col-md-3"><p>Visibitily</p></div>
                    <div id="ll" class="col-12 col-sm-6 col-md-3"><p>(visibility)</p></div>
                    <div id="m" class="col-12 col-sm-6 col-md-3"><p>Sky</p></div>
                    <div id="n" class="col-12 col-sm-6 col-md-3"><p>(clouds)</p></div>
                    <div id="ñh" class="col-12 col-sm-6 col-md-3"><p>Main</p></div>
                    <div id="o" class="col-12 col-sm-6 col-md-3"><p>(data.weather[0].main)</p></div>
                    <div id="p" class="col-12 col-sm-6 col-md-3"><p>data p</p></div>
                    <div id="q" class="col-12 col-sm-6 col-md-3"><p>(data.weather[0].description)</p></div>
                    <div id="ñh" class="col-12 col-sm-6 col-md-3"><p>Sunrise</p></div>
                    <div id="o" class="col-12 col-sm-6 col-md-3"><p>data.sys.sunrise</p></div>
                    <div id="p" class="col-12 col-sm-6 col-md-3"><p>Sunset</p></div>
                    <div id="q" class="col-12 col-sm-6 col-md-3"><p>data.sys.sunset</p></div>
                    <div id="send-weather-data" class="col-12">
                        <button id="send-weather-data-button" type="submit">Send Data</button>
                    </div>
                    <!-- /.Weather Data -->
                </div>
            </div>       
        </section>
    </div>
    <div class="container">
        <div class="row">
            <div id="weather-extra-info" class="col-12">
                <table>
                    {% for speed in wind_speed %}
                        <tr>
                            <td>{{ speed.wind_speed }}</td>
                            <td>{{ speed.wind_direction }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <!-- /.Weather Data -->    
    
{% endblock %}

{% block scripts %}
<script src="/static/js/weather.js"></script>
{% endblock %}


