{% extends "base.html" %}
{% block content %}
    <!-- Weather Data -->
    <div id="top-container" class="container">
        
        <section id="weather-map-and-data" class="row">

            <div id="viewDiv" class="col-12 col-sm-12 col-md-12 col-lg-6">   
            </div>       
            
            <div id="weather-data" class="col-12 col-sm-12 col-md-12 col-lg-6">

                
                <div class="row">
                    <div id="weather-data-title" class="col-12"><p>Coordinates for Weather Data</p></div>
                    <div id="latitute-title" class="col-12 col-sm-6 col-md-3"><p>Latitude</p></div>
                    <div id="latitude" class="col-12 col-sm-6 col-md-3">90</div>
                    <div id="longitude-title" class="col-12 col-sm-6 col-md-3"><p>Longitude</p></div>
                    <div id="longitude" class="col-12 col-sm-6 col-md-3">110</div>
                    <div id="enter-manually-title" class="col-12"><p>Manual Input of Coordinates</p></div>
                    <div id="manual-latitute-label" class="col-12 col-sm-6 col-md-3">
                        <label for="latitude-input" id="label-for-latitude">Latitude</label>
                    </div>
                    <div id="manual-latitute" class="col-12 col-sm-6 col-md-3">
                        <input id="latitude-input" type="number">
                    </div>
                    <div id="manual-longitude-label" class="col-12 col-sm-6 col-md-3">
                        <label for="longitude-input" id="label-for-longitude">Longitude</label>
                    </div>                    
                    <div id="manual-longitude" class="col-12 col-sm-6 col-md-3">
                        <input id="longitude-input" type="number">
                    </div>
                    <div id="get-weather-data" class="col-12">
                        <button id="get-weather-data-button" type="submit">Get Data</button>
                    </div>
                    <div id="results-title" class="col-12"><p>Weather Data</p></div>
                    <!-- Weather Data -->
                    
                    <div class="col-12 col-sm-6 col-md-3 weather-data-label"><p>Wind Speed</p></div>                                       
                    <div id="value-wind" class="col-12 col-sm-6 col-md-3"><p>(wind speed)</p></div>
                    <div class="col-12 col-sm-6 col-md-3 weather-data-label"><p>Direction</p></div>
                    <div id="value-wind-direction" class="col-12 col-sm-6 col-md-3"><p>(direction)</div>
                    <div class="col-12 col-sm-6 col-md-3 weather-data-label"><p>Temperature</p></div>
                    <div id="value-temperature" class="col-12 col-sm-6 col-md-3"><p>(temperature)</p></div>
                    <div class="col-12 col-sm-6 col-md-3 weather-data-label"><p>Feels Like</p></div>
                    <div id="value-feels-like" class="col-12 col-sm-6 col-md-3"><p>(feels like)</p></div>
                    <div class="col-12 col-sm-6 col-md-3 weather-data-label"><p>Temperature Max</p></div>
                    <div id="value-temperature-max" class="col-12 col-sm-6 col-md-3"><p>(temperature max)</p></div>
                    <div class="col-12 col-sm-6 col-md-3 weather-data-label"><p>Temperature Min</p></div>
                    <div id="value-temperature-min" class="col-12 col-sm-6 col-md-3"><p>(temperature min)</p></div>
                    <div class="col-12 col-sm-6 col-md-3 weather-data-label"><p>Pressure</p></div>
                    <div id="value-pressure" class="col-12 col-sm-6 col-md-3"><p>(pressure)</p></div>
                    <div class="col-12 col-sm-6 col-md-3 weather-data-label"><p>Humidity</p></div>
                    <div id="value-humidity" class="col-12 col-sm-6 col-md-3"><p>(humidity)</p></div>
                    <div class="col-12 col-sm-6 col-md-3 weather-data-label"><p>Visibitily</p></div>
                    <div id="value-visibility" class="col-12 col-sm-6 col-md-3"><p>(visibility)</p></div>
                    <div class="col-12 col-sm-6 col-md-3 weather-data-label"><p>Sky</p></div>
                    <div id="value-clouds" class="col-12 col-sm-6 col-md-3"><p>(clouds)</p></div>
                    <div class="col-12 col-sm-6 col-md-3 weather-data-label"><p>Main</p></div>
                    <div id="value-main" class="col-12 col-sm-6 col-md-3"><p>(Main)</p></div>
                    <div class="col-12 col-sm-6 col-md-3 weather-data-label"><p>Description</p></div>
                    <div id="value-description" class="col-12 col-sm-6 col-md-3"><p>(Description)</p></div>
                    <div class="col-12 col-sm-6 col-md-3 weather-data-label"><p>Country</p></div>
                    <div id="value-country" class="col-12 col-sm-6 col-md-3"><p>(country)</p></div>
                    <div class="col-12 col-sm-6 col-md-3 weather-data-label"><p>date</p></div>
                    <div id="value-date" class="col-12 col-sm-6 col-md-3"><p>(date)</p></div>
                    <div class="col-12 col-sm-6 col-md-3 weather-data-label"><p>Sunrise</p></div>
                    <div id="value-sunrise" class="col-12 col-sm-6 col-md-3"><p>(sunrise)</p></div>
                    <div class="col-12 col-sm-6 col-md-3 weather-data-label"><p>Sunset</p></div>
                    <div id="value-sunset" class="col-12 col-sm-6 col-md-3"><p>(Sunset)</p></div>
                    <div id="send-weather-data" class="col-12">   
                    {% if user.is_authenticated %}   
                    <button id="send-weather-data-button" type="submit">Send Data</button>
                    {% else %}
                    <p>(Log in to send data to database)</p>
                    {% endif %}
                    </div>
                    
                    <!-- /.Weather Data -->
                </div>
            </div>       
        </section>
    </div>
    <div class="container">
        <div id="example_example" class="row"><p>{{ wind_speed_data }}</p>
            <div id="weather-extra-info" class="col-12">
                <table>
                    {% for speed in wind_speed %}
                        <tr>
                            <td>{{ speed.date }}</td>
                            <td>{{ speed.wind_speed }}</td>
                            <td>{{ speed.wind_direction }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <!-- /.Weather Data -->    
    
{% endblock %}

{% block scripts %}
<script src="/static/js/weather.js"></script>
{% endblock %}


