{% extends "base.html" %}
{% block content %}
    <!-- Weather Data -->
    <div id="top-container" class="container">
        <section id="weather-map-and-data" class="row">

            <div id="viewDiv" class="col-12 col-sm-12 col-md-12 col-lg-6">   
            </div>       
            
            <div id="weather-data" class="col-12 col-sm-12 col-md-12 col-lg-6">
                <div class="row">
                    <div id="weather-data-title" class="col-12"><p>Coordinates for Weather Data</p></div>
                    <div id="latitute-title" class="col-12 col-sm-6 col-md-3"><p>Latitude</p></div>
                    <div id="latitude" class="col-12 col-sm-6 col-md-3"><p>90</div>
                    <div id="longitude-title" class="col-12 col-sm-6 col-md-3"><p>Longitude</p></div>
                    <div id="longitude" class="col-12 col-sm-6 col-md-3"><p>110</p></div>
                    <div id="enter-manually-title" class="col-12"><p>Manual Input of Coordinates</p></div>
                    <div id="manual-latitute-label" class="col-12 col-sm-6 col-md-3">
                        <label for="latitude-input" id="label-for-latitude">Latitude</label>
                    </div>
                    <div id="manual-latitute" class="col-12 col-sm-6 col-md-3">
                        <input id="latitude-input" type="number">
                    </div>
                    <div id="manual-longitude-label" class="col-12 col-sm-6 col-md-3">
                        <label for="longitude-input" id="label-for-longitude">Longitude</label>
                    </div>                    
                    <div id="manual-longitude" class="col-12 col-sm-6 col-md-3">
                        <input id="longitude-input" type="number">
                    </div>
                    <div id="get-weather-data" class="col-12">
                        <button id="get-weather-data-button" type="submit">Get Data</button>
                    </div>
                    <div id="results-title" class="col-12"><p>Weather Data</p></div>
                    <!-- Weather Data -->
                    <div id="wind" class="col-12 col-sm-6 col-md-3"><p>data</p></div>                                       
                    <div id="wind-label" class="col-12 col-sm-6 col-md-3"><p>data a</p></div>
                    <div id="b" class="col-12 col-sm-6 col-md-3"><p>data b</p></div>
                    <div id="c" class="col-12 col-sm-6 col-md-3"><p>data c</div>
                    <div id="d" class="col-12 col-sm-6 col-md-3"><p>data d</p></div>
                    <div id="e" class="col-12 col-sm-6 col-md-3"><p>data e</p></div>
                    <div id="f" class="col-12 col-sm-6 col-md-3"><p>data f</p></div>
                    <div id="g" class="col-12 col-sm-6 col-md-3"><p>data g</p></div>
                    <div id="h" class="col-12 col-sm-6 col-md-3"><p>data h</p></div>
                    <div id="i" class="col-12 col-sm-6 col-md-3"><p>data i</p></div>
                    <div id="j" class="col-12 col-sm-6 col-md-3"><p>data j</p></div>
                    <div id="k" class="col-12 col-sm-6 col-md-3"><p>data k</p></div>
                    <div id="l" class="col-12 col-sm-6 col-md-3"><p>data l</p></div>
                    <div id="ll" class="col-12 col-sm-6 col-md-3"><p>data ll</p></div>
                    <div id="m" class="col-12 col-sm-6 col-md-3"><p>data m</p></div>
                    <div id="n" class="col-12 col-sm-6 col-md-3"><p>data n</p></div>
                    <div id="ñh" class="col-12 col-sm-6 col-md-3"><p>data ñ</p></div>
                    <div id="o" class="col-12 col-sm-6 col-md-3"><p>data o</p></div>
                    <div id="p" class="col-12 col-sm-6 col-md-3"><p>data p</p></div>
                    <div id="q" class="col-12 col-sm-6 col-md-3"><p>data q</p></div>
                    <!-- /.Weather Data -->
                </div>
            </div>       
        </section>
    </div>
    <div class="container">
        <div class="row">
            <div id="weather-extra-info" class="col-12">
                <p>sdfasdfsdaf</p>
            </div>
        </div>
    </div>
    <!-- /.Weather Data -->    
{% endblock %}